{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * ActiveCampaign plugin for Craft CMS 3.x
 *
 * ActiveCampaign index.twig
 *
 * @author    Kurious Agency
 * @copyright Copyright (c) 2018 Kurious Agency
 * @link      https://kurious.agency
 * @package   ActiveCampaign
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("kuriousagency\\activecampaign\\assetbundles\\activecampaign\\ActiveCampaignAsset") %}
{% do view.registerAssetBundle("kuriousagency\\activecampaign\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{% set docsUrl = "https://github.com/KuriousAgency/activecampaign/blob/master/README.md" %}

{% set title = "ActiveCampaign" %}

{% set pluginCpUrl = url('activecampaign') %}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@kuriousagency/activecampaign/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('activecampaign') }}</a>
    </div>
{% endset %}

{% set content %}
    <h2>{{ "Index CP Section body goes here"|t('activecampaign') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
